<html>
    <body>
        <h1>Create An Song</h1>

        <%= render partial: 'form', locals: {artist: @artist, album: @album, song: @song, url: artist_album_songs_url(@artist, @album)}%>
    </body>
</html>